@charset "UTF-8";

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

/* VARIÁVEIS */

:root{
    --font-titulo-header: 'Passion One', Verdana, sans-serif;
    --font-paragrafos: 'Sriracha', Verdana, sans-serif;
}

/* SELETOR UNIVERSAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header{
    display: flex;    
    justify-content: center;
    align-items: center;    
    background-color: black;
    color: white;
    min-height: 200px;
}

#texto-header{
    text-align: center;   
}

header h1{
    font-family: var(--font-titulo-header);
    font-size: 3.7em;
    font-variant: small-caps;
}
 
header p{
    font-size: 1.6em;
    font-weight: bold;
}

/* LINK GLOBAL */

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

/* SECTION GENERICA */

section{
    padding: 10vh 0;
    min-height: 600px;
}

section p{
    font-family: var(--font-paragrafos);
    font-size: 2em;
}

#sessao2-imagem{
    background-image: url('../fotos/background001.jpg');
    color: white;
}

#sessao4-imagem{
    background-image: url('../fotos/background002.jpg');
    color: white;
}

/* RODAPÉ */

footer{
    background-color: black;
    color: white;
    padding: 20px;
}

footer p{
    text-align: center;
}

/* CLASSES */

.card{
    margin: 0 20px;
    padding: 20px;
    line-height: 60px;
    max-width: 400px;
}

.fundo-caixa{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.57);
}

.img-fundo{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}